# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
 - List Popular languages that data scientists use
 - List popular libraries that data scientists use
 - List Common open source development environment tools
 - Evaluate arithmetic expressions using python

Some of the popular languages that data scientists use are:
1. Python
2. Scala
3. R
4. Java

Some of the popular libraries that data scientists use are:
1. NumPy
2. TensorFlow
3. Pandas
4. Matplotlib

|Data Science Tools |
|-------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Scott